# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
.env

# Streamlit
.streamlit/secrets.toml

# Audio files
audio_files/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
*.wav
*.mp3 

# Frontend
frontend/node_modules/
frontend/build/


